.navbar-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns with equal width */
  grid-template-rows: repeat(3, 1fr);    /* 3 rows with equal height */
  height: 25vh; 
  width: 77%;
  margin: auto;
  position: relative;
}

.navbar-grid-container div {
  min-width: 0; /* Ensures that content does not affect the minimum width */
  min-height: 0; 
}

.navbar-grid-container div p {
  margin: 0; /* Remove default margin for paragraphs inside the div */
}

/* Nav Bar TODO: rename the classes */
.navbar-bottom-left {
  align-self: end;
  position: absolute;
  bottom: 0;
  left: 0;
}

.analytics-page-ContentCopy{
  width: 77%;
  margin: auto;
  position: relative;
}

.analytics-page-secondary-navbar {
  padding-top: 1.5rem;
  width: 77%;
  margin: auto;
  position: relative;
}

.navbar-bottom-right, .navbar-middle-right, .navbar-top-right {
  justify-self: end;
}

.navbar-middle-left {
  align-self: end;
}

.analytics-page-grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr; 
  height: 65vh; 
}

.analytics-page-left-column {
  border: solid blue 1px;
}


.analytics-page-right-column {
  display: grid;
  grid-template-rows: 1fr 1fr; /* Two rows, each taking up 1/2 of the height */
  height: 100%; /* Full height of the parent container */
}


.analytics-page-top-card{
  border: solid green 1px;
}

.analytics-page-bottom-card {
  border: solid red 1px;
}

@media (max-width: 768px) {
  /* Responsive layout adjustments for smaller screens */
  .grid-container {
    grid-template-columns: 1fr; /* Single column for smaller screens */
  }
}