
.nav-link {
  text-decoration: none;
}

.navbar-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns with equal width */
  grid-template-rows: repeat(3, 1fr);    /* 3 rows with equal height */
  height: 25vh; 
}

.navbar-grid-container div {
  border: 1px solid red;
}