.navbar-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns with equal width */
  grid-template-rows: repeat(3, 1fr);    /* 3 rows with equal height */
  height: 25vh; 
  width: 77%;
  margin: auto;
  position: relative;
}

.navbar-grid-container div {
  min-width: 0; /* Ensures that content does not affect the minimum width */
  min-height: 0; 
}

.navbar-grid-container div p {
  margin: 0; /* Remove default margin for paragraphs inside the div */
}

/* Nav Bar TODO: rename the classes */
.navbar-bottom-left {
  align-self: end;
  position: absolute;
  bottom: 0;
  left: 0;
}

.analytics-page-content{
  width: 77%;
  margin: 5vh auto;
  position: relative;
  border-radius: 16px;
  border: solid 1px green;
  background-color: #ffffff;

}

.analytics-page-secondary-navbar {
  /* padding-top: 0.75rem; */
  width: 77%;
  margin: auto;
  position: relative;
  border: turquoise solid 1px;
}

.navbar-bottom-right, .navbar-middle-right, .navbar-top-right {
  justify-self: end;
}

.navbar-middle-left {
  align-self: end;
}

.analytics-page-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  height: calc(65vh - 10vh); 
  margin: auto;
}

.analytics-page-grid-container {
  display: grid;
  grid-template-rows: 1fr 1fr; /* Two rows, each taking up 1/2 of the height */
}

.analytics-page-top-row {
  grid-column: 1 / -1; /* Span the entire width */
  border: solid blue 1px;
}

.analytics-page-bottom-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
  grid-column: 1 / -1; /* Span the entire width */
  border: solid orange 1px;
}

.analytics-bottom-container {
  border: 1px solid purple; /* Add a border for separation */
  padding: 16px; /* Add padding for better spacing */
  text-align: center; /* Center align text or content */
  /* Add any additional styling based on your design */
}

@media (max-width: 768px) {
  /* Responsive layout adjustments for smaller screens */
  .grid-container {
    grid-template-columns: 1fr; /* Single column for smaller screens */
  }
}